/Week1/target/
/Week2/target/
/Week4/src/main/java/com/mycompany/week4/m101j-blog-indexes/m101j-blog-indexes/target/
/Week4/src/JS/m101j-blog-indexes/m101j-blog-indexes/target/
/Week4/m101j-blog-indexes/m101j-blog-indexes/target/